doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title= subject
    style 
      include style.css
    body
      h1 #{heading}
      img(src=`http://localhost:3000/api/v1/image/${key}`, alt="expired image" )